html {
	font-size: 16px;
}
header,
footer {
	background-color: #3a3d41;
	height: 30px;
	width: 100%;
}
body {
	font-family: Menlo, Monaco, "Courier New", monospace;
	color: #d4d4d4;
	background-color: #1e1e1e;
}
h1 {
	font-size: 5rem;
}
p {
	font-size: 3rem;
}
a {
	font-size: 2.5rem;
	color: #d4d4d4;
}
a:hover {
	color: #d4d4d4;
	text-decoration: underline wavy #007acc;
	text-decoration-skip-ink: none;
	-webkit-text-decoration-line: underline;
	-webkit-text-decoration-style: wavy;
	-webkit-text-decoration-color: #007acc;
	text-decoration-thickness: 0.33rem;
	-webkit-text-decoration-skip-ink: none;
}
.button {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: border-box;
	padding: 0.375rem 7rem;
	margin-bottom: 2rem;
	font-size: 3rem;
	line-height: 1.5;
	border-radius: 0.8rem;
}
.btn-pink {
	color: #c586c0;
	background: #3a3d41;
	border: 5px solid #c586c0;
}
@media screen and (max-width: 1024px) {
	.button {
		padding: 0.375rem 5rem;
	}
}
@media screen and (max-width: 425px) {
	html {
		font-size: 10px;
	}
	p {
		font-size: 1.6rem;
	}
	.button {
		padding: 0.375rem 5rem;
	}
}
