.quiz-p {
	font-size: 4.3rem;
	line-height: 4rem;
	cursor: pointer;
	margin-right: 1rem;
}
.orange {
	color: #ce9178;
}
.skyblue {
	color: #9cdcfe;
}
.lightblue {
	color: #569cd6;
}
.green {
	color: #6a9955;
}
.pink {
	color: #c586c0;
}
.yellow {
	color: #dcdcaa;
}
.cleargreen {
	color: #4ec9b0;
}
.blue {
	color: #007acc;
}
.play-wrapper {
	height: 90vh;
}
.play-component-wrapper {
	width: 80%;
	height: 70vh;
	border: 10px solid #3a3d41;
	border-radius: 15px;
	text-align: center;
	display:flex;
	justify-content: center;
	align-items: center;
}
.desc {
	margin-left: 12%;
	align-self: start;
}
@media screen and (max-width: 1366px) {
	.quiz-p {
		font-size: 3.5rem;
		line-height: 2.3rem;
	}
}
@media screen and (max-width: 1024px) {
	.quiz-p {
		font-size: 2.4rem;
		line-height: 1.4rem;
	}
}
@media screen and (max-width: 425px) {
	.quiz-p {
		font-size: 2rem;
		line-height: 1.3rem;
	}
}
